//* src/App.css */
.App {
  text-align: center;
  padding: 20px;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.recipe-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 300px;
  text-align: left;
  position: relative;
  /* Add relative positioning for the heart */
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s ease;
}

.heart-icon.liked {
  color: red;
  /* Change color when liked */
}

form {
  margin: 20px;
}

input,
textarea {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #61dafb;
  border: none;
  cursor: pointer;
}

.theme-icon-container {
  position: absolute;
  top: 50px;
  right: 30px;
  z-index: 1000;
}
.theme-icon{
  font-size: 1.8rem;
  margin-left: 10px;
  cursor: point;
  transition: transform 0.2s ease;
}

.theme-icon:hover {
  transform: scale(1.1);
  opacity: 1;
}

.theme-icon.active {
  opacity: 1;
}
body{
  transition: background-color 0.3s ease, color 0.3s ease;
}
body.dark-mode{
  background-color: #121112;
  color: #fff;
}
body.dark-mode.recipe{
  background-color: #1e1e1e;
  color: #fff;
  border-color: #444;

}

body.dark-mode.input, 
body.dark-mode.input.textarea{
  background-color: #1e1e1e;
  color: #fff;
  border-color: #444;
}
body.dark-mode.heart-icon {
  color: #bbb;

}
body.dark-mode.heart-icon.liked {
  color: #ff0000;
}

body.dark-mode.button {
  background-color: #444;
  color: #fff;
}

body.dark-mode.header {
  background-color: #1e1e1e;
  color: #fff;
}

body.dark-mode.footer {
  background-color: #1e1e1e;
  color: #fff;
}

.rating-stars {

  display: flex;

  gap: 5px;

  margin: 10px 0;

}

.rating-stars span {

  font-size: 24px;

  cursor: pointer;

  transition: transform 0.2s ease, color 0.3s ease;

}

.rating-stars span:hover {

  transform: scale(1.2);

  color: gold;

}